.header {
    display: flex;
    width: 100%;
    background-color: aquamarine;
    margin: 0px;
    height: 100px;
    color: #eee;
    font-size: 50px;
}

.header>a {
    margin: 25px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    padding: 0px;
    margin: 0px;
}

html {
    padding: 0px;
}

input {
    width: 200px;
    height: 20px;
    padding: 5px;
    margin: 1%;
}

.label {
    width: 100px;
    margin-right: 10px;
    text-align: left;
    display: inline-block;
    /**/
}

.button {
    width: 100px;
    height: 30px;
    padding: 5px;
}

.radio {
    width: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: #aaa;
}

h1 {
    font-size: 100px;
    color: #aaa;
}

.sorting {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: blanchedalmond;
    margin: 0px;
    height: 100px;
    color: rgb(46, 46, 46);
    font-size: 50px;
}

.sorting>a {
    margin: 10px 25px 10px 25px;
}